<!DOCTYPE html>
<html ng-app="json-dictionary-merge">
	<head>
		<meta charset="UTF-8">

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script src="ordered-stringify.js"></script>
		<script src="app.js"></script>

		<style>
		.conflicts>li label {
			display: inline-block;
			min-width: 15em;
			font-family: monospace;
		}
		.conflicts>li select {
			min-width: 20em;
		}
		</style>
	</head>
	<body>
		<form ng-controller="MergeController as mergeController">
			<ul class="files">
				<li ng-repeat="file in mergeController.inputFiles">
					<input
						type="file"
						multiple
						files-input
						ng-model="file.files"
						on-files-change="mergeController.inputFileSelected(file)">
					<input type="button" value="Remove" ng-click="mergeController.removeInputFile($index)">
				</li>
			</ul>
			<input type="button" value="Add File" ng-click="mergeController.addInputFile()">

			<hr>

			<div ng-if="mergeController.badFiles.length > 0">
				<h4>Error reading:</h4>
				<ul>
					<li ng-repeat="file in mergeController.badFiles">{{file.name}}</li>
				</ul>
			</div>
			<div ng-if="mergeController.goodFiles.length > 0">
				<h4>Merging:</h4>
				<ul>
					<li ng-repeat="file in mergeController.goodFiles">{{file.name}}</li>
				</ul>
			</div>

			<hr>

			<ul class="conflicts">
				<li ng-repeat="conflict in mergeController.conflicts | toArray: 'strokes' | orderBy: 'strokes'">
					<label>{{conflict.strokes}}</label>
					<select
						ng-options="option for option in conflict.options track by option"
						ng-model="conflict.selectedOption"
						ng-change="mergeController.conflictOptionSelected(
							conflict.strokes,
							conflict.selectedOption)">
					</select>
				</li>
			</ul>

			<hr>

			<input type="button" value="Save" ng-click="mergeController.saveMergedDictionary()">
		</form>
	</body>
</html>
